table.repos {
  width:100%;
  border:1px solid #999;
  tr {
    border-bottom: 1px solid #999
  }
  th,
  td {
    padding:1em;
    text-align:left
  }
  th {
    background:#666;
    color:#fff;
  }
  tr:nth-child(even) {
    background:#eee;
  }
}
